* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HackParticipant {
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10mm;
}

.partContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  padding: 10px;
  width: 100%;
  margin-top: 2%;
}

.card {
  padding: 5px;
  border-radius: 50%;
  position: relative;
  width: 35px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.356);
}

.totalPart {
  display: flex;
  align-items: flex-start;
  justify-self: start;
}

.cardData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin: 2%;
}

.contributorName {
  padding: 5px;
  font-size: xx-small;
  text-align: center;
}

.contributorDetails {
  position: absolute;
  display: none;
  border-bottom: 1px dotted black;
  transition: 0.3s;
  z-index: 999;
  background: rgb(33, 168, 33);
}

/* .contributorDetails {
  display:flex;
  visibility: visible;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  /* position: absolute;
  z-index: 1;
  bottom: 50%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  /* opacity: 0;
  transition: opacity 0.3s;
  margin: 0 2%;  */
/* } */ 

/* .cardData .contributorDetails::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
} */
