body{
    padding: 3vh;
}
.flex{
    display: flex;
}

h1{
width: 644px;
font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 48px;
color: #71A894;
}

p{
width: 626px;
font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 18px;
letter-spacing: -0.02em;
/* Black */
color: #303031;
}

h3{
font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 24px;
letter-spacing: -0.02em;
color: #71A894;
padding-left: 6vw;
}
h6{
font-family: Roboto Slab;
font-style: normal;
font-weight: 900;
font-size: 16px;
letter-spacing: -0.02em;
/* Gray */
color: #66645E;
}
.content{
    width: 404px;
height: 48px;
font-family: Roboto Slab;
font-style: normal;
font-weight: 500;
font-size: 16px;
letter-spacing: -0.02em;
/* Black */
color: #303031;
}
.cont{
font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 32px;
letter-spacing: -0.02em;
color: #71A894;
margin-top: -1vh;
}
.box{
width: 484px;
border: 4px solid #303031;
border-radius: 16px;
padding: 4vh;
}
.button{
padding: 10px 145px 10px 150px;
background: #303031;
border-radius: 16px;
color: white;
width: 183px;
height: 32px;
font-family: Roboto Slab;
font-style: normal;
font-weight: 500;
font-size: 24px;
letter-spacing: -0.02em;
margin-bottom: -5px;
}
.div1{
    padding-bottom: 15vh;
}
img{
    border-radius: 50%;
}
.img{
    position: absolute;
}
.shares{
    padding-left: 6vw;
    margin-top: -2vh;
}
.boxs{
    box-shadow: 10px 50px 0px #71A894;
    margin-left: 5vw;
    margin-bottom: 16vh;
}
.space{
    margin-bottom: 15vh;
}